body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .gallery {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation:animate 20s linear infinite
  }
  @keyframes animate {
    0%{
        transform:perspective(1000px) rotateY(0deg);
    }
    100%{
        transform:perspective(1000px) rotateY(360deg);
    }
  }
  .gallery span{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(300px)
  }
  .gallery span img{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }